.header
    margin-top: 20px
    display: flex
    justify-content: space-between
    align-items: center
    &__container
        &-link
            margin-right: 20px
        &-button
            background-color: #1938D5
            border-radius: 15px
            padding: 12px 24px
@media (max-width: 768px)
    .header
        &-img
            width: 50%
            max-width: 156px
        &__container
            &-link
                display: none