.ingredients
    &-title
    &__list
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        &-item
            background-color: #3E3E3E
            border-radius: 16px
            display: flex
            align-items: center
            width: 408px
            // width: 100%
            // max-width: 408px
            &-img
            &__container
                &-title
                    margin-bottom: 0px
                    color: white
                &-text
                    color: #949494 