.container
    max-width: 1312px !important
*
    font-family: 'Roboto' sans-serif
    // color: white !important
body
    background-color: #292929
header
h3
    font-size: 39px
    line-height: 48px
    color: white
    font-weight: 300
    text-align: center
a
    color: white
    &:hover
        color: white
.subtitle
    font-weight: 300
    font-size: 32px
    line-height: 40px
    text-align: center
    color: #949494
.main-button
    background-color: #1938D5
    color: white
    transition: 0.3s
    &:hover
        background-color: white
        color: #1938d5 !important
@media (max-width: 768px)
    h3
        font-size: 30px !important
        line-height: 40px !important
    .subtitle
        font-size: 18px !important
        line-height: 24px !important