.private
    margin-top: 160px
    margin-bottom: 150px
    &-title
        margin-bottom: 60px
    &__list
        display: flex
        justify-content: center
        &-item
            text-align: center
            width: 100%
            max-width: 285px
            color: #949494
            &-text
                margin-top: 34px
@media (max-width: 768px)
    .private
        margin-top: 70px
        margin-bottom: 80px
        &__list
            align-items: center
            flex-direction: column
            &-item
                margin-bottom: 30px