.quote
    margin-top: 204px
    &-title
        font-size: 39px
        line-height: 48px
        margin-bottom: 16px
    &-subtitle
        font-weight: 300
        text-align: center
        margin-bottom: 64px
        font-size: 31px
        line-height: 40px
        color: #949494 !important
    &__list
        display: flex
        justify-content: space-between
        &-item
            width: 100%
            max-width: 421px
            padding: 30px
            background-color: #555151
            border-radius: 16px
            -webkit-transition: 0.3s !important
            // transition: 0.3s !important
            &:hover
                &:nth-child(1)
                    background-color: #F98665
                    p
                        color: black !important
                    path
                        fill: black
                &:nth-child(2)
                    background-color: #1CFFE4
                    p
                        color: black !important
                    path
                        fill: black
                &:nth-child(3)
                    background-color: #304CD9
                    p
                        color: black !important
                    path
                        fill: black
            &-img
                height: 35px
            &-text
                max-width: 305px
                color: #949494
                margin-top: 40px
                font-size: 24px
                line-height: 32px
            &-info
                display: contents
                color: #949494 !important
                font-size: 17px
                line-height: 24px
                background-color: #555151
                &:nth-child(1)
                    margin-top: 30px
                &:nth-child(2)
                    margin-top: 54px
                    

// .quote__list-item:hover
//     linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), rgb(25, 56, 213)
//     transition: background 0.2s ease-in 0s
// .quote__list-item-info:hover
//     transition: 0.2s ease-in 0s
//     color: #000 !important             
// .quote__list-item-text:hover
//     transition: 0.2s ease-in 0s
//     color: #000 !important