.quote
    &-title
    &-subtitle
    &__list
        display: flex
        justify-content: center
        &-item
            max-width: 421px
            padding: 30px
            background-color: #555151
            border-radius: 16px
            &-img
                height: 35px
            &-text
                max-width: 305px
                color: #949494 !important
                margin-top: 40px
                font-size: 24px
                line-height: 32px
                &::hover
                    color: black !important !important
            &-info
                margin-bottom: 0px !important
                color: #949494 !important
                font-size: 17px
                line-height: 24px
                background-color: #555151
                &:nth-child(1)
                    margin-top: 30px
                &:nth-child(2)
                    margin-top: 54px
                    

// .quote__list-item:hover
//     linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), rgb(25, 56, 213)
//     transition: background 0.2s ease-in 0s
// .quote__list-item-info:hover
//     transition: 0.2s ease-in 0s
//     color: #000 !important             
// .quote__list-item-text:hover
//     transition: 0.2s ease-in 0s
//     color: #000 !important