.container {
  max-width: 1312px !important;
}

* {
  font-family: Roboto !important;
}

body {
  background-color: #292929;
}

h3 {
  font-size: 39px;
  line-height: 48px;
  color: white;
  font-weight: 300;
  text-align: center;
}

a {
  color: white;
}

a:hover {
  color: white;
}

.subtitle {
  font-weight: 300;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  color: #949494;
}

.main-button {
  background-color: #1938D5;
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.main-button:hover {
  background-color: white;
  color: #1938d5 !important;
}

.header {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__container-link {
  margin-right: 20px;
}

.header__container-button {
  background-color: #1938D5;
  border-radius: 15px;
  padding: 12px 24px;
}

.header {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__container-link {
  margin-right: 20px;
}

.header__container-button {
  background-color: #1938D5;
  border-radius: 15px;
  padding: 12px 24px;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero-title {
  font-size: 40px;
  line-height: 48px;
  margin-left: auto;
  max-width: 860px;
  margin-right: auto;
  margin-bottom: 30px;
  margin-top: 70px;
}

.hero-img {
  width: 100%;
  max-width: 1321px;
}

.hero-img-mob {
  display: none;
}

@media (max-width: 786px) {
  .hero-img {
    display: none;
  }
  .hero-img-mob {
    display: block;
  }
}

.quote {
  margin-top: 204px;
}

.quote-title {
  font-size: 39px;
  line-height: 48px;
  margin-bottom: 16px;
}

.quote-subtitle {
  font-weight: 300;
  text-align: center;
  margin-bottom: 64px;
  font-size: 31px;
  line-height: 40px;
  color: #949494 !important;
}

.quote__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.quote__list-item {
  width: 100%;
  max-width: 421px;
  padding: 30px;
  background-color: #555151;
  border-radius: 16px;
  -webkit-transition: 0.3s !important;
}

.quote__list-item:hover:nth-child(1) {
  background-color: #F98665;
}

.quote__list-item:hover:nth-child(1) p {
  color: black !important;
}

.quote__list-item:hover:nth-child(1) path {
  fill: black;
}

.quote__list-item:hover:nth-child(2) {
  background-color: #1CFFE4;
}

.quote__list-item:hover:nth-child(2) p {
  color: black !important;
}

.quote__list-item:hover:nth-child(2) path {
  fill: black;
}

.quote__list-item:hover:nth-child(3) {
  background-color: #304CD9;
}

.quote__list-item:hover:nth-child(3) p {
  color: black !important;
}

.quote__list-item:hover:nth-child(3) path {
  fill: black;
}

.quote__list-item-img {
  height: 35px;
}

.quote__list-item-text {
  max-width: 305px;
  color: #949494;
  margin-top: 40px;
  font-size: 24px;
  line-height: 32px;
}

.quote__list-item-info {
  display: contents;
  color: #949494 !important;
  font-size: 17px;
  line-height: 24px;
  background-color: #555151;
}

.quote__list-item-info:nth-child(1) {
  margin-top: 30px;
}

.quote__list-item-info:nth-child(2) {
  margin-top: 54px;
}

@media (max-width: 1200px) {
  .quote__list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .quote__list-item {
    margin-bottom: 30px;
  }
}

.apps {
  margin-top: 150px;
  text-align: center;
}

.apps-title {
  font-size: 39px;
  line-height: 48px;
}

.apps-subtitle {
  font-weight: 300;
  margin-top: 8px;
  margin-bottom: 64px;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  color: #949494;
}

.apps-img {
  width: 100%;
  max-width: 934px;
}

.workplace {
  padding-bottom: 150px;
  background: url(../img/workplace/workplace-bg.svg);
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 150px;
  text-align: center;
}

.workplace-img {
  width: 100%;
  max-width: 688px;
}

.ingredients-title {
  margin-bottom: 60px;
}

.ingredients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ingredients__list-item {
  padding: 32px;
  background-color: #3E3E3E;
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 408px;
  margin-bottom: 24px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.ingredients__list-item:hover:nth-child(1) {
  background-color: #1CFFE4;
}

.ingredients__list-item:hover:nth-child(1) .ingredients__list-item-img path {
  stroke: black;
}

.ingredients__list-item:hover:nth-child(1) .ingredients__list-item__container-title {
  color: black;
}

.ingredients__list-item:hover:nth-child(1) .ingredients__list-item__container-text {
  color: black;
}

.ingredients__list-item:hover:nth-child(2) {
  background-color: #8E76DC;
}

.ingredients__list-item:hover:nth-child(2) .ingredients__list-item-img path {
  stroke: black;
}

.ingredients__list-item:hover:nth-child(2) .ingredients__list-item__container-title {
  color: black;
}

.ingredients__list-item:hover:nth-child(2) .ingredients__list-item__container-text {
  color: black;
}

.ingredients__list-item:hover:nth-child(3) {
  background-color: #F87853;
}

.ingredients__list-item:hover:nth-child(3) .ingredients__list-item-img path {
  stroke: black;
}

.ingredients__list-item:hover:nth-child(3) .ingredients__list-item__container-title {
  color: black;
}

.ingredients__list-item:hover:nth-child(3) .ingredients__list-item__container-text {
  color: black;
}

.ingredients__list-item:hover:nth-child(4) {
  background-color: #FBB254;
}

.ingredients__list-item:hover:nth-child(4) .ingredients__list-item-img path {
  stroke: black;
}

.ingredients__list-item:hover:nth-child(4) .ingredients__list-item__container-title {
  color: black;
}

.ingredients__list-item:hover:nth-child(4) .ingredients__list-item__container-text {
  color: black;
}

.ingredients__list-item:hover:nth-child(5) {
  background-color: #96A5F3;
}

.ingredients__list-item:hover:nth-child(5) .ingredients__list-item-img path {
  stroke: black;
}

.ingredients__list-item:hover:nth-child(5) .ingredients__list-item__container-title {
  color: black;
}

.ingredients__list-item:hover:nth-child(5) .ingredients__list-item__container-text {
  color: black;
}

.ingredients__list-item:hover:nth-child(6) {
  background-color: #F4F1FF;
}

.ingredients__list-item:hover:nth-child(6) .ingredients__list-item-img path {
  stroke: black;
}

.ingredients__list-item:hover:nth-child(6) .ingredients__list-item__container-title {
  color: black;
}

.ingredients__list-item:hover:nth-child(6) .ingredients__list-item__container-text {
  color: black;
}

.ingredients__list-item__container {
  margin-left: 32px;
}

.ingredients__list-item__container-title {
  margin-bottom: 2px;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 0px;
  color: white;
}

.ingredients__list-item__container-text {
  font-size: 17px;
  line-height: 24px;
  color: #949494;
  margin-bottom: 0px;
}

@media (max-width: 1312px) {
  .ingredients__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.private {
  margin-top: 160px;
  margin-bottom: 150px;
}

.private-title {
  margin-bottom: 60px;
}

.private__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.private__list-item {
  text-align: center;
  width: 100%;
  max-width: 285px;
  color: #949494;
}

.private__list-item-text {
  margin-top: 34px;
}

@media (max-width: 768px) {
  .private {
    margin-top: 70px;
    margin-bottom: 80px;
  }
  .private__list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .private__list-item {
    margin-bottom: 30px;
  }
}

.offer {
  margin-top: 120px;
  margin-bottom: 200px;
  text-align: center;
}

.offer-title {
  max-width: 619px;
  margin-right: auto;
  margin-left: auto;
  font-size: 56px;
  line-height: 64px;
}

.offer-button {
  margin-top: 64px;
  padding: 12px 20px;
  border-radius: 12px;
}

.partners {
  text-align: center;
  margin-bottom: 150px;
}

.partners-text {
  font-size: 23px;
  line-height: 32px;
  color: #949494;
  margin-bottom: 32px;
}

.partners__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.partners__list-item:last-child {
  margin-right: 0px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer-block-img:last-child {
  margin-top: 96px;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  width: 100%;
  max-width: 655px;
}

.footer__container-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 218px;
}

.footer__container-item-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 24px;
  color: #949494;
  font-size: 23px;
  line-height: 32px;
}

.footer__container-item-text {
  margin-bottom: 12px;
  font-size: 15px;
  line-height: 24px;
}

.footer-copy {
  color: #949494;
}

.footer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__wrap-link {
  color: #949494;
  margin-right: 8px;
}

.footer__wrap-link-a {
  color: #949494;
  margin-right: 24px;
}

.footer-b {
  margin-top: 150px;
  margin-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer-b {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=main.css.map */